/*
Default
*/

.row {
  margin: 0;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}
/*
Navigation
*/

.navBar {
  padding-top: 2em;
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
.navBarItem {
  padding: 1em;
  text-align: center;
  color: white;
}

.navBarItem:hover {
  background-color: rgba(232, 234, 237, 0.5);
}

/*
Landing Portion
*/

.title {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  text-align: center;
}

/*
About
*/

.about {
  padding: 10%;
}
.aboutHeader {
  display: block;
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: 0.2em;
  font-size: 3em;
}

.aboutImage {
  height: 35vmin;
  display: block;
  margin: auto;
}
.aboutDescription {
  padding-top: 3em;
  line-height: 2.5em;
  color: grey;
  font-size: 1.5em;
}
.aboutDescription b {
  color: black;
}

/*
Merchandise
*/

.merchandise {
  padding: 10%;
}

.merchandiseHeader {
  overflow-wrap: break-word;
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: 0.2em;
  font-size: 3em;
}

.merchandiseDescription {
  line-height: 2.5em;
  color: grey;
  font-size: 1.5em;
}

.merchandiseImg1 {
  width: 100%;
}

.merchandiseImg2 {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 2em;
  display: block;
  margin: auto;
}

/*
Event
*/

.event {
  padding: 2em;
}

.eventHeader {
  color: white;
  display: block;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.2em;
  font-size: 3em;
}
.eventStarImage {
  background-image: url("./images/eventStars/before.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10em, 10em;
  height: 10em;
  letter-spacing: 0;
  color: #b6af7d;
  text-align: center;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}
.eventStarImage h1 {
  position: relative;
  bottom: 2em;
  padding: none;
  letter-spacing: 0.1em;
}
.eventStarImage:hover {
  background-image: url("./images/eventStars/after.png");
  color: white;
}

/*
Footer
*/

.footer {
  background-color: rgb(206, 204, 204);
  display: block;
  height: 100px;
}

.footerInfo {
  color: white;
  line-height: 50px;
  float: left;
  padding: 25px;
}
.footerFacebook {
  height: 50px;
  float: left;
  margin: 25px;
}

/*
EventPage
*/

.eventPage {
  background-image: url("http://moziru.com/images/drawn-star-the-sky-drawing-1.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 10%;
}

.eventPageHeader {
  color: white;
  display: block;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 3em;
}

.eventPageContent {
  background-color: rgb(190, 190, 190);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 2.5em;
  color: white;
  font-size: 1.5em;
  margin-bottom: 0;
  text-align: center;
}

.eventLogistics {
  color: rgb(251, 255, 1);
}
.eventPageBack {
  color: white;
  text-align: center;
  background-color: white;
  padding: 0;
}

.eventPageBack h2 {
  display: block;
  margin: 0;
  margin: auto;
  color: black;
  padding: 0.5em;
}

/*
RESPONSIVE WEB DESIGN
*/

@media (max-width: 800px) {
  body {
    background-color: #f2f3f5;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 8px;
  }
  .headerImage {
    background-image: url("https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/bicentennial_security_rotunda_dusk_ss_header_3-2.jpg?itok=doo6GX08");
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }

  .breakImage {
    background-image: url("http://moziru.com/images/drawn-star-the-sky-drawing-1.png");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eventImage {
    background-image: url("http://moziru.com/images/drawn-star-the-sky-drawing-1.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }
}

@media (min-width: 800px) {
  body {
    background-color: #f2f3f5;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
  }
  .headerImage {
    background-image: url("https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/bicentennial_security_rotunda_dusk_ss_header_3-2.jpg?itok=doo6GX08");
    width: auto;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }

  .breakImage {
    background-image: url("http://moziru.com/images/drawn-star-the-sky-drawing-1.png");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .eventImage {
    background-image: url("http://moziru.com/images/drawn-star-the-sky-drawing-1.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }
}

/*
Contact
*/

.Projects {
  height: 100%;
  text-align: center;
}
.Projects-Header {
  font-size: 2em;
  letter-spacing: 0.2em;
  padding-top: 3%;
  margin-bottom: 1%;
  margin-top: 0;
  color: #333;
}
.Projects-Project {
  padding-top: 5em;
  padding-bottom: 5em;
}
.Projects h2 {
  padding-top: 1em;
}
.Projects-img {
  height: 20em;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.Sponsors-img {
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
  border: 5px solid darkgrey;
}
